#cabecera{background:#04B4AE;height:50px;margin-bottom:10px}

#cuerpo{overflow:scroll;background-image: url("Imagenes/1519414081-000uq0ke.jpg"); background-position:center; background-repeat:no-repeat; background-size:cover;width:1333px; height:700px}

#pie{background:#04B4AE;height:50px;margin-top:10px}

#menu1 li{list-style:none;margin:2px; margin-left:400px;float:left; margin-right:15px;}

#menu1 li a {text-align:right;font-size:30px;color:#FFFFFF;font-family:arial black; text-decoration:none}

#menu1 li a:hover{color:#FFFF00}

p{color:white; font-family:Marker Felt, fantasy; font-size:20px}

#tabs a{color:white;font-family:"Gill Sans Extrabold", Helvetica, sans-serif; text-decoration:none}